{% extends 'edutest/base.html' %}

{% block style %}<link rel="stylesheet" href="../../static/edutest/css/index.css">{% endblock %}

{% block title %}Головна{% endblock %}


{% block content %}
<div class="quiz-container">
    {% for topic in topics %}
        <div class="quiz-card">
            <form action="/one_time_registration" method="post">
                {% csrf_token %}
                <div class="quiz-header">{{ topic.title }}</div>
                <div class="quiz-content">
                    <p>Час: {{topic.time_to_pass}} хв</p>
                    <p>Питань: {{topic.question_in_test}}</p>
                    {% if topic.is_open == True %}
                        <p>Статус: <span class="status-open">Відкрито</span></p>
                    {% endif %}
                    {% if topic.is_open == False %}
                        <p>Статус: <span class="status-close">Закрито</span></p>
                    {% endif %}
                </div>
                {% if topic.is_open == True %}
                    <input type="hidden" value="{{ topic.topic_id }}" name="topic_id" id="topic_id">
                    <input type="hidden" value="{{ topic.title }}" name="title" id="title">
                    <div class="quiz-footer">
                        <input value="ПОЧАТИ" type="submit" class="start-button-open">
                    </div>
                {% endif %}
                {% if topic.is_open == False %}
                    <div class="quiz-footer">
                        <input value="ПОЧАТИ" type="submit" class="start-button-close" disabled>
                        <input type="hidden" value="0" name="topic_id" id="topic_id">
                    </div>
                {% endif %}
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}